cdse-venv/
/.vs
/out/build/x64-Debug
/out/build/Linux-GCC-Debug
/CMakeSettings.json
/out/build
/build
/src/zarrdriver_original.cpp
/venv
venv/bin/adig
/watch.ps1
/build-and-install.ps1
/qgis_eopfzarr_plugin.py
